@page "/tradegoods"
@using SouthSeaTrader.Shared
@using Newtonsoft.Json
@using System.Text
@inject HttpClient Http

<h1>Trade Goods</h1>

@if (tradeGoods == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Recommendation</th>
                <th>Cost</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tradein in tradeGoods.Goods)
            {
                <tr>
                    <td>@tradein.Name</td>
                    <td>@tradein.Recommendation.</td>
                    <td>@tradein.Cost</td>
                    <td><button @onclick="@(() => AddTrade(tradein.TradeGoodId))">Trade</button></td>
                </tr>
            }
        </tbody>
    </table>
    <p>@AddedTradeCount</p>
    <p>The total cost of your ship is @tradeCost doubloons.</p>
    <p><button @onclick="@(() => Buy())">Set Sail</button></p>
    <p>@message</p>
}

@functions {
    void AddTrade(int i)
    {
        var tradeG = tradeGoods.Goods.Where(e => e.TradeGoodId == i).FirstOrDefault();
        tradeCost += tradeG.Cost;
        AddedTradeCount++;
        goodsBasket.Add(tradeG);

        foreach(var good in goodsBasket)
        {

            message += string.Concat(good.TradeGoodId, ", ");
        }
    }

    async void Buy()
    {
        if(!goodsBasket.Any())
        {
            message = "There is nothing in your basket!";
        }

        message = "";

        foreach(var good in goodsBasket)
        {
            message += string.Concat(good.TradeGoodId, ", ");
            await Http.PutAsync($"api/TradeData/AddTradesToShip/{good.TradeGoodId}", null);
        }
    }
}

@code {
    Trade tradeGoods;
    List<TradeGood> goodsBasket = new List<TradeGood>();
    int AddedTradeCount = 0;
    double tradeCost = 0;
    string message = "";

    protected override async Task OnInitializedAsync()
    {
        tradeGoods = await Http.GetJsonAsync<Trade>("api/TradeData/TradeGoods");
    }

}
